<h1>ようこそ！Fclosetへ</h1>
<p>Fcloset（フクローゼット）は、あなたのクローゼットをまるごとスマホの中に。<br>
ファッションアイテムの在庫管理ができるアプリです。</p>

<p>こんなお悩み、ありませんか？</p>
<ul>
  <li>💭「持ってるアイテムが把握できていない…同じようなものを買ってしまった…」</li>
  <li>💭「持っている服に合わないアイテムを買ってしまい失敗…」</li>
  <li>💭「自分の持っているファッションアイテムを可視化したい」</li>
</ul>

<p>Fclosetがあれば、<strong>あなたのファッションがもっと自由に、もっと楽しく</strong>なります。</p>

<h2>さあ、自分だけのクローゼットを完成させよう！</h2>

<%= link_to "さっそくアイテムを登録する", new_item_path, class: "btn" %>
