<div class="max-w-md mx-auto px-4 py-8 bg-white rounded-lg shadow-md text-gray-800 text-center">

<h1 class="text-3xl font-extrabold text-pink-600 mb-6">ようこそ！Fclosetへ</h1>

  <p class="text-sm mb-4 leading-relaxed">
    Fcloset（フクローゼット）は、あなたのクローゼットをまるごとスマホの中に。
    <br>
    ファッションアイテムの在庫管理ができるアプリです。
  </p>

  <p class="font-semibold mb-2">こんなお悩み、ありませんか？</p>

  <div class="text-sm mb-6 space-y-1 ">
    <p>💭 持ってるアイテムが把握できていない…同じようなものを買ってしまった…</p>
    <p>💭 持っている服に合わないアイテムを買ってしまい失敗…</p>
    <p>💭 自分の持っているファッションアイテムを可視化したい</p>
  </div>

  <p class="text-sm mb-6">
    Fclosetがあれば、
    <span class="font-semibold text-pink-600">あなたのファッションがもっと自由に、もっと楽しく</span>
    なります。
  </p>

  <h2 class="text-lg font-bold mb-4">さあ、自分だけのクローゼットを完成させよう！</h2>

  <div class="max-w-md mx-auto px-4 py-8 bg-white rounded-lg shadow-md text-gray-800 text-center min-h-screen overflow-visible">
 <%= link_to "さっそくアイテムを登録する", new_item_path,
  class: "bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-full inline-block transition duration-200" %>
</div>
</div>
